.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding-bottom: 1.875rem;
  }
  
.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
    gap: 1rem; /* Espaço entre os cards */
    width: 100%;
    padding-bottom: 1.875rem;

}